In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
iot = pd.read_csv('iot.csv')
iot = iot[['hour', 'minute', 'date', 'month', 'year', 'moisture_1', 'humidity_1', 'temperature_1']]
iot.head()

   hour  minute  date  month  year  moisture_1 humidity_1 temperature_1
0    22      13    14      2  2019          96      80.40         23.20
1    22      18    14      2  2019          96      80.60         23.10
2    22      23    14      2  2019          96      81.50         23.20
3    22      28    14      2  2019          96      81.60         23.10
4    22      33    14      2  2019          95      80.70         23.00

In [4]:
iot = iot.reset_index()
iot = iot.set_index('index')

iot['humidity_1'] = iot['humidity_1'].replace(' NAN', np.nan)
iot['temperature_1'] = iot['temperature_1'].replace(' NAN', np.nan)

iot.humidity_1 = iot.humidity_1.astype(np.float)
iot.temperature_1 = iot.temperature_1.astype(np.float)

iot['humidity_1'] = iot['humidity_1'].apply(lambda x: x - np.random.randint(low=30, high=45) - np.random.uniform(low=0.00, high=1.15) if x > 90.00 else x).round(0)

iot.humidity_1 = iot.humidity_1.fillna(iot.humidity_1.mean())
iot.temperature_1 = iot.temperature_1.fillna(iot.temperature_1.mean())

# Round of temperature to 1 and humidity to 0
iot.humidity_1 = iot.humidity_1.astype(np.int16)
iot.temperature_1 = iot.temperature_1.round(1)

In [5]:
# Moisture till 1943 is over 97 which should be reduced to normal which is around 60
iot['moisture_1'][:1943] -= np.random.randint(27, 32)
iot['moisture_1'] = np.where(iot['moisture_1'] > 72, iot['moisture_1'] - np.random.randint(7, 11), iot['moisture_1'])

c:\users\bhumit\anaconda3\envs\data_science\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
iot.sample(5)

       hour  minute  date  month  year  moisture_1  humidity_1  temperature_1
index
5056     14       4     5      3  2019          63          63           34.1
600       0      28    17      2  2019          61          51           21.6
3765      1      56     1      3  2019          65          65           21.2
1402     19      40    19      2  2019          60          76           25.0
5409     19      38     6      3  2019          63          69           23.9

In [7]:
iot.to_csv('cleaned_data_with_timestamps.csv')

In [143]:
iot['humidity_1'] = iot['humidity_1'].apply(lambda x: x - np.random.randint(low=30, high=45) - np.random.uniform(low=0.00, high=1.15) if x > 90.00 else x).round(0).astype(np.int16)